modules = ["web", "bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["chromedriver", "geckodriver", "ungoogled-chromium", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd football_predictor && python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8888
externalPort = 3002

[[ports]]
localPort = 34633
externalPort = 3000

[[ports]]
localPort = 34761
externalPort = 5173

[[ports]]
localPort = 38531
externalPort = 3001

[[ports]]
localPort = 41175
externalPort = 3003

[[ports]]
localPort = 41435
externalPort = 5000

[[ports]]
localPort = 46267
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--config", "football_predictor/gunicorn_config.py", "--chdir", "football_predictor", "app:app"]
